<div class="list-group">
  {{# if users }}
    {{#each users}}
    <label class="list-group-item label-plain"><input type="checkbox" name="supervisor_id" value="{{ this.id }}" {{#if this._marked }} checked=checked {{/if}}> {{ this.full_name }}</label>
    {{/each}}
  {{else}}
    <p>Немає працівників, яких можна було б додати в якості другорядних керівників.</p>
    <p> <a href="/users/add/" data-vpp-add-supervisor-modal-add-new-user="1">Додати нового працівника <i class="fa fa-angle-double-right"></i></p>
  {{/if}}
</div>
