
<div class="col-md-9">

  <form method="POST" action="/settings/schedule" id="company_schedule_form">
  <input type="hidden" name="user_id" value="{{employee.id}}">

  {{> user_details/breadcrumb employee=employee }}

  <div class="form-group">
    <label for="" class="control-label">Графік роботи</label>

    <p class="help-block">
      {{# with schedule }}
      {{# if (is_user_specific) }}
        Цей працівник має <strong data-vpp="declare-user-specific-schedule">окремий</strong> графік роботи.
      {{else}}
        Цей працівник користується <strong><a data-vpp="link-to-company-schedule" href="/settings/general/">загальним</a></strong> графіком роботи.
      {{/if}}
      {{/with}}
    </p>

    <div class="input-group">
      {{> schedule_widget }}
    </div>

  </div>
  <div class="form-group">
    <div class="pull-right">
    {{# with schedule }}
    {{# if (is_user_specific) }}
      <button type="submit" name="revoke_user_specific_schedule" class="btn btn-default">Застосувати до працівника загальний графік компанії</button>
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Зберегти окремий графік працівника</button>
    {{else}}
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Скасувати загальний графік компанії</button>
    {{/if}}
    {{/with}}
    </div>
  </div>
  </form>

</div>
