Підтвердження реєстрації в TimeOff.Management
=====
<p>Вітаємо, {{name}},</p>

<p>Для завершення процесу реєстрації в TimeOff.Management натисніть на нижченаведене посилання:</p>

<p>{{confirm_registration_link}}</p>

<p>Дякуємо</p>
