Анулювати заяву на відпустку
=====
<p>Вітаємо, {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} анулював(-ла)</strong> заяву на відпустку <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Ніяких дій не вимагається.</p>

<p>Дякуємо</p>
