Додано нову відпустку
=====
<p>Вітаємо, <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Вашу нову відпустку <strong>{{>leave_request_detail leave=leave }}</strong> було додано та автоматично погоджено.</p>

{{> email/leave_comments comments=comments }}

<p>Дякуємо</p>
