Відкликання заяви на відпустку
=====
<p>Вітаємо, {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} анулював</strong> заяву на відпустку <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Будь ласка, перейдіть на сторінку {{> email/link href=(concatenate (get_application_domain) '/requests/') text='Заяви на розгляді' }}, щоб погодити або відхилити заяви на розгляді.</p>

<p>Дякуємо</p>
