Відпустку відкликано
=====
<p>Вітаємо, <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Вашу відпустку <strong>{{>leave_request_detail leave=leave }}</strong> успішно відкликано.</p>

{{> email/leave_comments comments=comments }}

<p>Дякуємо</p>
