Нова заява на відпустку
=====
<p>Вітаємо, <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> надіслав(-ла) нову заяву на відпустку <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

{{> email/requester_allowance requester=requester requesterAllowance=requesterAllowance}}

<p>Будь ласка, перейдіть на сторінку {{> email/link href=(concatenate (get_application_domain) '/requests/' ) text='Заяви на розгляді'}}, щоб погодити або відхилити нерозглянуті заяви.</p>

<p>Дякуємо</p>
