Рішення щодо заяви на відпустку прийнято
=====
<p>Вітаємо, <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

{{> email/leave_comments comments=comments }}

<p>Ви щойно прийняли рішення щодо {{#if was_pended_revoke}}анулювання {{/if}}заяви на відпустку {{>leave_request_detail leave=leave }} для {{#with requester}}{{this.full_name}}{{/with}}: {{action}}.</p>

<p>Дякуємо</p>
