Очікується рішення щодо заяви на відпустку
=====
<p>Вітаємо, <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Вашу заяву щодо <strong>анулювання: {{>leave_request_detail leave=leave }}</strong> надіслано отримувачу <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Після прийняття рішення надійде ще один електронний лист.</p>

<p>Дякуємо</p>
