Реєстрацію завершено
=====
<p>Вітаємо, <strong>{{user.name}}</strong>,</p>

<p>Спасибі, що зареєстрували новий обліковий запис у системі {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Дякуємо</p>
