Скидання пароля для TimeOff.Management
=====
{{# with user ~}}
<p>Вітаємо, <strong>{{this.name}}</strong>,</p>

<p>Ваш пароль для {{> email/link href=(get_application_domain) text='TimeOff.Management' }} було успішно змінено.</p>

{{~/ with }}

<p>Дякуємо</p>
