
{{> header }}

<div class="jumbotron">
<h1>TimeOff management</h1>
<p class="lead">Програмне забезпечення з відкритим кодом для адміністрування часу відпусток працівників у компаніях будь-якого розміру.</p>
<p><a class="btn btn-lg btn-success" href="/register/" role="button">Зареєструйтесь вже</a></p>
<p>або зв'яжіться з нами на <a href="https://github.com/vpp/vacation-tracker">GitHub</a></p>
</div>

<div class="row marketing">


<div class="col-lg-6">
  <h4>Відділи компанії</h4>
  <p>Створюйте відділи для об'єднання працівників у групи, в кожній з яких буде свій керівник.</p>

  <h4>Кастомізація типів відпусток</h4>
  <p>Відпустки, лікарняні, декрети, в зв'язку з доглядом за дітьми, робота з дому та інші типи. Крім того, для кожного типу можна обирати, чи враховуватиметься норма днів відпустки.</p>

  <h4>Інтеграція з календарями</h4>
  <p>Відомості про місцезнаходження працівників передаються у календарі: Outlook, Gmail. (Робота триває)</p>
</div>

<div class="col-lg-6">
  <h4>Кастомізація офіційних вихідних</h4>
  <p>Налаштування робочого графіку компанії з урахуванням державних свят та певних вихідних днів.</p>

  <h4>Простий робочий процес</h4>
  <p>Працівник просить відпустку, а керівник каже "так" чи "ні".</p>

  <h4></h4>
  <p></p>
</div>
</div>

{{> footer }}
