
{{> header }}

<h1>Сторінку не знайдено</h1>

<div class="row">
  <div class="col-md-10 lead">На жаль не вдалося знайти сторінку, яку ви шукаєте</div>
</div>

<div class="row large-bottom-space"></div>


{{> footer }}
