
{{> header }}

<h1>Інтеграційний API (бета)</h1>

<p class="lead">Налаштування доступу до даних облікового запису за допомогою інтеграційного API</p>

{{> show_flash_messages }}

<div class="row main-row_header">
  <p class="col-md-12">Опис</p>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <p>Система TimeOff.Management підтримує обмін даними компанії <strong>{{ company.name }}'s</strong> з іншим програмним забезпеченням за допомогою REST API.</p>
    <p>На цій сторінці можна {{# if company.integration_api_enabled }}вимкнути{{else}}увімкнути{{/if}} такий доступ.</p>
  </div>
</div>

<div class="row main-row_header">
  <p class="col-md-12">Конфігурація</p>
</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" action="" method="post">
      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
        <label for="integration_api_enabled" class="control-label">
          <input
            id="integration_api_enabled"
            type="checkbox"
            {{# if company.integration_api_enabled }} checked="checked" {{/if}}
            name="integration_api_enabled"
           />&nbsp;
           Увімкнути інтеграційний API
          </label>
        </div>
      </div>
      <hr/>
      <div class="form-group">
        <label for="token" class="col-md-3 control-label">Ключ доступу до API</label>
        <div class="col-md-5">
          <input class="form-control" readonly value="{{company.integration_api_token}}" aria-describedby="token_help" type="text" id="token-value">
        </div>
        <span id="token_help" class="help-block">Токен, що дозволяє отримати доступ до даних компанії {{company.name}}. <span class="danger">Тримайте його в таємниці.</span></span>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
          <div class="pull-right">
            <button type="submit" class="btn btn-default" id="regenerate_token_btn" name="regenerate_token" value=1>Регенерувати токен</button>
            <button type="submit" class="btn btn-success" id="save_settings_btn">Зберегти конфігурацію інтеграційного API</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{{> footer }}
