
{{> header }}

<h1>Групове імпортування працівників</h1>

<div class="row">
  <div class="col-md-6 lead">Швидке додавання працівників</div>
  <div class="col-md-6">
    <a class="btn btn-default pull-right" href="/users/add/" id="add_new_department">Додати одного працівника <i class="fa fa-chevron-right"></i></a>
  </div>

</div>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="/users/">Всі працівники</a></li>
      <li class="active">Імпортувати працівників групою</li>
    </ol>
  </div>
</div>

<div class="row main-row_header">
  <p class="col-md-12">Виконується у три простих кроки</p>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">

    <form class="form-horizontal" method="POST" action="/users/import-sample/" id="users_import_sample_form">
      <p class="text-bigger">
        <strong>1.</strong> Завантажте екземпляр файлу <strong>.CSV</strong> з наразі наявними працівниками:
        <button
          type  = "submit"
          id    = "users_import_sample_btn"
          class = "btn btn-success"
          data-content   = "Екземпляр файлу міститиме інформацію про працівників, які вже внесені в систему. Додайте у файл відомості про нових працівників та імпортуйте його за допомогою наведеної ліворуч форми."
          data-placement = "top"
          data-toggle    = "popover"
          data-trigger   = "focus hover"
        ><i class="fa fa-download"></i> Завантажити екземпляр файлу <strong>.CSV</strong></button>
      </p>
    </form>

    <p class="text-bigger">
      <strong>2.</strong> Внесіть відомості про нових працівників у файл <strong>.CSV</strong>.
    </p>

    <p class="text-bigger">
      <strong>3.</strong> Імпортуйте файл <strong>.CSV</strong>:

      <form action="/users/import/" method="post" role="form" enctype="multipart/form-data" class="panel-body">
        <div class="form-group">
          <input id="users_input_inp" type="file" name="users_import">
        </div>
        <div class="form-group">
            <button class="btn btn-success" id="submit_users_btn" type="submit"><i class="fa fa-upload"></i> Імпортувати працівників</button>
        </div>
      </form>
    </p>
  </div>
</div>

<div class="row">&nbsp;</div>

{{> footer }}
