
<p>
  Цього року {{#with requester}}{{this.full_name}}{{/with}} використав(-ла)
  {{~#with requesterAllowance}} {{this.number_of_days_taken_from_allowance}} {{/with~}}
   днів з норми відпустки. Наразі у розпорядженні лишається {{#with requesterAllowance}} {{this.number_of_days_available_in_allowance}} днів. {{/with}}
</p>
